// 全局變數設置
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$gray-text: #777;
$background-color: #f7f7f7;
$white: #fff;
$button-hover: darken($secondary-color, 10%);
$font-family: 'Arial', sans-serif;
$background-light: #f4f4f4; 